<div class="navbar-fixed container">
  <nav class="container row">
    <div class="nav-wrapper">
      <div class="col s12">
        <div class="brand-logo">
          FIFO
        </div>
        <ul id="nav-mobile" class="right">
          <li><a>Add New Task</a></li>
        </ul>
      </div>
    </div>
  </nav>
</div>
{{outlet}}
